<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aldentea.SweetMutus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <Aldentea.SweetMutus.Properties.Settings>
            <setting name="FileHistoryCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FileHistoryDisplayCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RequireUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>800,640</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SongPlayerVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="DataGridColumnsVisibility" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="KeyGestures" serializeAs="String">
                <value />
            </setting>
        </Aldentea.SweetMutus.Properties.Settings>
    </userSettings>
</configuration>